.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%; /* Hace que el botón sea circular */
    padding: 10px; /* Ajusta el tamaño del botón */
}
